<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/tarefaModel.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="mainController">
      <ion-header-bar class="bar-positive">
        <h1 class="title">Ionic Tarefa</h1>
      </ion-header-bar>
      <ion-content >
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-positive" ng-click="onItemAdd()">Adicionar</button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-assertive" ng-click="onClickRemove()">Remover</button>
          </div>
        </div>
        
        <ion-list class="list" show-delete="removeStatus">
          <ion-item ng-repeat="item in lista track by $index" ng-hide="onHideItem(item)">
            <div class="row">
              <div class="col col-90">
                {{item.nome}}
                <ion-delete-button class="ion-minus-circled" ng-click="onItemRemove(item)"></ion-delete-button>
                <ion-option-button class="button-positive" ng-click="onItemEditar(item)">Editar</ion-option-button>

              </div>
              <div class="col col-10">
                <button class="button button-small button-positive button-outline" ng-click="marcarTarefa(item)">
                  <i class="icon ion-checkmark" ng-show="item.finalizada"></i>
                </button>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer-bar class="bar-positive">
        
        <div class="row">
          <div class="col col-90">
            <strong>Exibir finalizadas</strong>
          </div>
          
          <div class="col col-10">
            <label class="toggle">
              <input type="checkbox" ng-model="exibirMarcador">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>

      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
